###> symfony/framework-bundle ###
.env.prod
/public_html/bundles/
/backup/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public_html/build/
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
.idea/*
### Ignore LYAC results
/results/*.csv
# do not put any bash scripts
*.sh
composer.phar

.yarn/*
.yarn/cache
.yarn/patches
.yarn/plugins
.yarn/releases
.yarn/sdks
.yarn/versions
repomix-output.txt
