<div class="card">

  <div class="card-body">
    <h5 class="card-title">{% trans %}lyac.rounds.title{% endtrans %}</h5>
    <p class="card-text">{% trans %}lyac.rounds.subtitle{% endtrans %}:</p>
    <small class="card-text">&nbsp;</small>
      <ul>
      {% for year in round_years %}
      <li><h5 class="card-subtitle mb-4">
      <a href="{{ path('rounds', { 'year': year['y'] } )}}">{{ year['y'] }}</a>
      <small class="card-subtitle mb-2 text-muted">({{ year['c'] }})</small></h5></li>
      {% endfor %}
      </ul>
  </div>
</div>
