<div class="card sidebar-sticky">

  <div class="card-body">
    <h5 class="card-title">{% trans %}lyac.rounds.title{% endtrans %}</h5>
    <p class="card-text small text-muted">{% trans %}lyac.rounds.subtitle{% endtrans %}:</p>
    <nav class="sidebar-nav">
      {% for year in round_years %}
      <a class="nav-link {% if year['y'] == current_year|default(null) %}active{% endif %}"
         href="{{ path('rounds', { 'year': year['y'] } )}}">
        {{ year['y'] }}
        <small class="text-muted">({{ year['c'] }})</small>
      </a>
      {% endfor %}
    </nav>
  </div>
</div>
