{% extends 'base.html.twig' %}

{% block title %}{{ 'rules.title'|trans }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>{{ 'rules.title'|trans }}</h1>

  <h2>Rules</h2>
  <h3>LY VHF ACTIVITY CONTEST (LYAC) OPEN CLASS RULES</h3>

  <h4>PARTICIPANTS</h4>
  <p>All amateurs in LY and other countries are invited!</p>

  <h4>DATES</h4>
  <ul>
    <li>144 MHz, 1-st Tuesday, every month</li>
    <li>432 MHz, 2-nd Tuesday, every month</li>
    <li>1,3 GHz, 3-rd Tuesday, every month</li>
    <li>2,4 GHz and up, 4-th Tuesday, every month</li>
  </ul>
</div>
{% endblock %} 