{% extends 'base.html.twig' %}

{% block title %}{{ 'rules.title'|trans }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>{{ 'rules.title'|trans }}</h1>

  <h2>LYAC Taisyklės</h2>
  <h3>LRMD LYAC – Lietuvos UTB Aktyvumo dienos nuostatai</h3>

  <h4>DATA</h4>
  <ul>
    <li>144 MHz, kiekvieno mėnesio 1-asis antradienis</li>
    <li>432 MHz, kiekvieno mėnesio 2-asis antradienis</li>
    <li>1,3 GHz, kiekvieno mėnesio 3-iasis antradienis</li>
    <li>2,4 GHz ir aukščiau, kiekvieno mėnesio 4-asis antradienis</li>
  </ul>
</div>
{% endblock %} 