{% extends 'base.html.twig' %}

{% block title %}{{ 'rules.title'|trans }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>{{ 'rules.title'|trans }}</h1>

  <h2>Положення</h2>
  <h3>ПОЛОЖЕННЯ ПРО ВІДКРИТІ ЗМАГАННЯ АКТИВНОСТІ ЛИТОВСЬКИХ СТАНЦІЙ НА УКХ</h3>

  <h4>УЧАСНИКИ</h4>
  <p>До участі запрошуються радіоаматори всіх країн.</p>

  <h4>ДАТА</h4>
  <ul>
    <li>144 МГц, 1-й вівторок кожного місяця</li>
    <li>432 МГц, 2-й вівторок кожного місяця</li>
    <li>1,3 ГГц, 3-й вівторок кожного місяця</li>
    <li>2,4 ГГц і вище, 4-й вівторок кожного місяця</li>
  </ul>
</div>
{% endblock %} 