{% extends 'base.html.twig' %}

{% block title %}{{ 'rules.title'|trans }}{% endblock %}

{% block lwidth %}3{% endblock %}
{% block rwidth %}9{% endblock %}

{% block left %}
<div class="card">
    <div class="card-body">
        <h4>{{ 'rules.title'|trans }}</h4>
        
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        
<h2>LRMD LYAC – Положення про Дні Активності УКХ у Литві</h2>
<p>&nbsp;</p>
<h3>ДАТА</h3>
<ul>
<li>144 МГц, перший вівторок кожного місяця</li>
<li>432 МГц, другий вівторок кожного місяця</li>
<li>1,3 ГГц, третій вівторок кожного місяця</li>
<li>2,4 ГГц і вище, четвертий вівторок кожного місяця</li>
</ul>
<h3>ЧАС</h3>
<p>18:00–21:59 UTC з листопада по березень,<br>
17:00–20:59 UTC з квітня по жовтень.</p>
<h3>ЗВ'ЯЗКИ</h3>
<p>Робота в ефірі відповідно до розподілу діапазонів IARU Регіон 1. Зараховуються зв'язки з радіоаматорами всіх країн. Зв'язки через активні ретранслятори та EME не зараховуються.</p>
<h3>ВИДИ ВИПРОМІНЮВАННЯ</h3>
<p>CW, SSB, FM</p>
<h3>РАПОРТИ</h3>
<p>RS(T) та 6-значний WWL, наприклад 599 KO15NV.</p>
<h3>ОЧКИ</h3>
<p>144 МГц, 432 МГц та 1,3 ГГц:<br>
1 км = 1 очко + 500 додаткових очок за кожний новий 4-значний квадрат локатора (напр.: KO14, KO25, JO14, …)</p>
<p>2,4 ГГц і вище:<br>
1 км = 1 очко * множник діапазону + 500 додаткових очок за кожний новий квадрат локатора, незалежно від діапазону.<br>
Множники діапазонів:</p>
<ul>
<li>2,4 ГГц * 2</li>
<li>5,7 ГГц * 4</li>
<li>10 ГГц * 5</li>
<li>24 ГГц * 6</li>
</ul>
<p>Зв'язок 0 км з власним WW LOC (KO14WW – KO14WW) дає 1 очко.</p>
<h3>ЗВІТИ</h3>
<p>Приймаються тільки електронні звіти у форматі Reg1Test (EDI). Звіти слід надіслати протягом двох тижнів після змагань на адресу <img decoding="async" src="https://www.qrz.lt/lyac/wp-content/uploads/lyacmail.gif" alt="" style="vertical-align: bottom">.</p>
<p>У звіті повинні бути вказані: дата та час UTC кожного QSO, прийнятий позивний, переданий RS(T) та прийнятий RS(T) з локатором. На титульній сторінці звіту вказується ваш позивний, ім'я, прізвище, email та WW LOC, з якого працювали.</p>
<p>Файл звіту слід назвати "позивний-діапазон-місяць.edi", напр.: LY0XX-144-01.edi. Файл звіту слід прикріпити, в жодному разі не вставляйте його в текст листа. В темі листа (subject) вкажіть свій позивний та діапазон. Листи без теми можуть випадково потрапити в кошик.</p>
    </div>
</div>

{% endblock %} 